* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #fff; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #7e7e7e;
  font-size: 13.5px; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #7e7e7e; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #7e7e7e; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #7e7e7e; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #7e7e7e; }

input {
  border: solid 1px #7e7e7e;
    border-radius: 14.5px;
  width: 100%;
  height: 72px;
  padding: 20px 17px 0; }

label {
  display: inline-block;
  margin: 0 0 16px;
  width: 100%; }

.btn {
  padding: 0 20px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 44px;
  border: none;
    border-radius: 22px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }
  .btn:focus, .btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn-border {
  border: solid 1px #808080;
    border-radius: 22px;
  color: #808080; }
  .btn-border:hover {
    background: #d90219;
    color: #fff;
    border-color: transparent; }

.btn-accent {
  background: #d90219;
  color: #ffffff; }
  .btn-accent:hover {
    color: #fff;
    background: #808080; }

.btn-white {
  font-size: 8.5px;
  font-weight: 500;
  color: #808080;
  border-radius: 12px;
  -webkit-box-shadow: 2.7px 3px 16.9px 1.1px rgba(0, 0, 0, 0.13);
          box-shadow: 2.7px 3px 16.9px 1.1px rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  text-transform: none; }

.btn-all {
  height: 30px;
  padding: 0 9px 0 17px;
  font-size: 11px;
  text-transform: none;
  font-weight: 500; }

.btn-icon {
  margin: 0 0 0 16px; }

.logo {
  max-width: 322px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

h1 {
  text-transform: uppercase;
  font-size: 83.2px;
  font-weight: 800;
  width: 100%; }

h2 {
  width: 100%;
  text-transform: uppercase;
  font-size: 52px;
  font-weight: 800;
  position: relative;
  margin: 0 0 44px; }

.bg-grey {
  background: #f7f7f7; }

.bg-black-grey {
  background: #404040; }

.container {
  max-width: 1200px; }

.mb-30 {
  margin: 0 0 30px; }

.svg-icon {
  width: 100%;
  height: 100%;
  display: inline-block;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

header {
  background: #fff;
  padding: 15px 0; }
  header .logo {
    margin: 0 auto 0 0; }
  header .btn {
    margin: 0 11px 0 0;
    min-width: 225px; }
    header .btn:last-child {
      margin: 0 -225px 0 0; }

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

main {
  padding: 81px 0 99px;
  background: url("../img/bg1.jpg") no-repeat center;
    background-size: cover;
  color: #fff; }

.title-text {
  max-width: 310px;
  width: 100%;
  margin: 0 0 0 auto;
  font-family: "Bitter", sans-serif;
  font-size: 30.8px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 19.8px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 74px 0 0; }

.main-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: 100%;
  margin: 0 auto 8px; }
  .main-box__icon img {
    max-height: 100%; }

.main-box2 .main-box__icon {
  max-width: 82px; }

.main-box3 .main-box__icon {
  max-width: 66px; }

.main-box4 .main-box__icon {
  max-width: 89px; }

.main-box5 .main-box__icon {
  max-width: 88px; }

.main-box6 .main-box__icon {
  max-width: 61px; }

.services {
  padding: 78px 0 49px; }
  .services h2 {
    max-width: 740px;
    padding: 0 160px 0 0; }
    .services h2:after {
      content: '';
      position: absolute;
      width: 124px;
      height: 62px;
      right: 0;
      bottom: -30px;
      background: url("../img/arrow1.png") no-repeat center;
        background-size: 100%; }

.services-box {
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 2.7px 3px 16.9px 1.1px rgba(0, 0, 0, 0.13);
          box-shadow: 2.7px 3px 16.9px 1.1px rgba(0, 0, 0, 0.13);
  border-radius: 17px;
  padding: 11px 33px 35px;
  font-size: 12px;
  font-weight: 500;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .services-box:hover a {
    color: #d90219; }
  .services-box:hover .services-box__icon {
    fill: #d90219; }

.services-box__title {
  font-weight: 800;
  font-size: 15px;
  margin: 0 0 10px;
  color: #000000; }

.services-box__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 12px 0;
  border-bottom: 1px solid #808080; }

.services-box__body {
  padding: 16px 0 0; }

.services-box__icon {
  fill: #bfbfbf; }

.services-box1 .services-box__icon {
  width: 50px;
  height: 49px; }

.services-box2 .services-box__icon {
  width: 48px;
  height: 47px; }

.services-box3 .services-box__icon {
  width: 51px;
  height: 47px; }

.services-box4 .services-box__icon {
  width: 51px;
  height: 45px; }

.services-box5 .services-box__icon {
  width: 51px;
  height: 37px; }

.services-box6 .services-box__icon {
  width: 46px;
  height: 49px; }

.services-box7 .services-box__icon {
  width: 53px;
  height: 40px; }

.services-box8 .services-box__icon {
  width: 43px;
  height: 43px; }

.blog {
  padding: 77px 0; }
  .blog .wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .blog .line-wrapper {
    padding: 0 0 0 70px; }

.line-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.blog-box {
  width: 401px;
  border-radius: 20px;
  overflow: hidden;
  background: #f7f7f7;
  margin: 0 30px 22px 0;
  font-size: 12px;
  font-weight: 500; }
  .blog-box .btn {
    margin: 25px 0 0 auto;
    max-width: 125px;
    height: 24px; }

.blog-box__img {
  width: 100%;
  height: 216px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden; }
  .blog-box__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.blog-box__body {
  width: 100%;
  padding: 21px 32px 24px 26px; }

.date {
  margin: 0 0 9px;
  width: 100%;
  color: #828282;
  font-weight: 800;
  font-size: 12.5px; }

.blog-slider {
  width: 1270px;
  padding: 0 0 0 51px; }

.slick-slide {
  outline: none; }

.line-number-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 70px;
  position: relative; }
  .line-number-section:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 341px;
    background: #b3b3b3;
    margin: 11px 0 0; }

.line-number-section__num {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 19px;
  color: #b3b3b3;
  font-weight: 500; }

.slick-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: solid 1px #808080;
    border-radius: 50%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  z-index: 1;
  opacity: 1;
  padding: 8px;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  -webkit-transform: none;
          transform: none; }
  .slick-arrow svg {
    fill: #808080;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    width: 100%;
    height: 100%; }
  .slick-arrow:before {
    display: none; }
  .slick-arrow:hover, .slick-arrow:focus {
    background: #d90219;
    border-color: #d90219; }
    .slick-arrow:hover svg, .slick-arrow:focus svg {
      fill: #fff; }

.slider-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.slick-prev {
  margin: 0 27px 0 0; }

.clients {
  padding: 77px 0 47px; }
  .clients h2 {
    position: relative;
    max-width: 910px;
    padding: 0 160px 0 0; }
    .clients h2:after {
      content: '';
      position: absolute;
      width: 124px;
      height: 62px;
      right: 0;
      bottom: -30px;
      background: url("../img/arrow1.png") no-repeat center;
        background-size: 100%; }
  .clients h3 {
    margin: 0 0 11px; }

.text-border {
  text-transform: uppercase;
  font-size: 40.6px;
  font-weight: 800;
  color: #b3b3b3;
  -webkit-text-fill-color: #f7f7f7;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #b3b3b3; }

.clients-col {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.clients-box {
  padding: 10px;
  width: 202px;
  height: 202px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  -webkit-box-shadow: 2.7px 3px 16.9px 1.1px rgba(0, 0, 0, 0.13);
          box-shadow: 2.7px 3px 16.9px 1.1px rgba(0, 0, 0, 0.13);
  overflow: hidden; }

.clients-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.order-services {
  color: #fff;
  padding: 69px 0 78px; }
  .order-services h2 {
    position: relative;
    margin: 0 0 40px; }
    .order-services h2:before {
      content: '';
      position: absolute;
      left: 0;
      top: calc(100% + 30px);
      width: 441px;
      height: 254px;
      background: url("../img/arrow2.png") no-repeat center;
        background-size: 100%; }
  .order-services .box-text {
    padding: 0 20px 0 35px;
    font-size: 28.3px;
    font-weight: 500; }
    .order-services .box-text p {
      margin: 0 0 25px; }
      .order-services .box-text p:last-child {
        margin: 0; }
  .order-services .btn {
    margin: 111px 20px 0 auto;
    max-width: 225px;
    height: 42px;
    width: 100%; }

.box-scroll {
  position: relative;
  height: 380px; }

.order-services-content {
  font-size: 12px;
  padding: 0 0 30px 70px; }
  .order-services-content h3 {
    font-weight: 800;
    margin: 0 0 20px; }
  .order-services-content p {
    margin: 0 0 20px; }

.mCSB_inside > .mCSB_container {
  margin-right: 33px; }

.mCSB_scrollTools .mCSB_draggerRail {
  width: 1px;
  background: #fff; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  border-radius: 4.5px;
  background-color: #ffffff;
  width: 9px;
  height: 57px; }

#mCSB_1_scrollbar_vertical .mCSB_dragger {
  height: 57px; }

.contacts {
  padding: 78px 0 75px;
  position: relative; }
  .contacts .container {
    position: relative;
    z-index: 1; }
  .contacts h2 {
    margin: 0 auto 258px;
    max-width: 770px;
    width: 100%;
    border-radius: 33px;
    -webkit-box-shadow: 2.7px 3px 16.9px 1.1px rgba(0, 0, 0, 0.13);
            box-shadow: 2.7px 3px 16.9px 1.1px rgba(0, 0, 0, 0.13);
    background: #fff;
    font-size: 38.6px;
    font-weight: 800;
    text-align: center;
    text-transform: none;
    padding: 21px 30px;
    color: #404040;
    line-height: 1; }

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.address {
  width: 100%;
  text-align: center;
  margin: 27px auto 0;
  color: #404040;
  font-size: 28.5px;
  font-weight: 800; }

.phone-box {
  margin: 0 auto;
  border-radius: 37px;
  max-width: 370px;
  width: 100%;
  background: #d90219;
  padding: 18px 30px; }

.phone {
  color: #fff;
  text-align: center;
  font-size: 31px;
  font-weight: bold; }
  .phone:hover {
    color: #fff; }

.ymaps-layers-pane {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }

footer {
  background: #fff;
  padding: 87px 0 78px; }
  footer .btn {
    margin: 0 12px 0 0;
    width: 225px; }
    footer .btn:last-child {
      margin: 0; }

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 180px;
  width: 100%; }

.copyright {
  margin: 19px 0 0;
  font-size: 26.1px;
  font-weight: 500;
  color: #404040; }

.footer-menu {
  margin: 0 auto;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2; }
  .footer-menu li a {
    font-size: 13px;
    font-weight: 500;
    color: #000;
    line-height: 1.69; }

.form .btn {
  margin: 20px auto 0; }

.checkbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #7e7e7e;
  font-size: 13.5px; }
  .checkbox a {
    display: block; }

.checkbox-inp {
  display: none; }

.checkbox-custom {
  position: relative;
  width: 31px;
  height: 31px;
  min-width: 31px;
  display: inline-block;
  vertical-align: middle;
  border: solid 1px #7e7e7e;
    border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  margin: 0 12px 0 0; }

.label {
  display: inline-block; }

.checkbox-inp:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 8px;
  background: #d90219; }

.links {
  text-decoration: underline;
  display: inline-block;
  color: #7e7e7e; }

.modal-title {
  text-align: center;
  font-weight: bold;
  width: 100%;
  font-size: 24px; }

.modal-header {
  border: none; }
  .modal-header .close {
    padding: 0;
    margin: 0; }

.close {
  padding: 0;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 10px;
  cursor: pointer;
  opacity: 1;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute; }
  .close:before, .close:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #d90219; }
  .close:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .close:after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

.modal-body {
  padding: 30px; }

.blog-page .blog-slider {
  width: 100%; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1560px) {
  header .btn:last-child {
    margin: 0 -100px 0 0; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1300px) {
  header .btn:last-child {
    margin: 0 -50px 0 0; }
  h1 {
    font-size: 60px; } }

@media only screen and (max-width: 1200px) {
  header .btn {
    width: auto;
    min-width: auto; }
    header .btn:last-child {
      margin: 0; }
  .logo {
    max-width: 250px; }
  .clients-box {
    width: 180px;
    height: 180px;
    padding: 15px; }
  .order-services .box-text {
    font-size: 22px; }
  .order-services h2:before {
    width: 380px;
    height: 240px; }
  footer .btn {
    width: auto; } }

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 40px; }
  .title-text {
    font-size: 24px; }
  .main-box {
    margin: 50px 0 0;
    font-size: 18px; }
  main {
    padding: 70px 0; }
  h2 {
    font-size: 42px; }
  .services h2 {
    max-width: 630px; }
  .clients-box {
    width: 150px;
    height: 150px; }
  .clients {
    padding: 50px 0 30px; }
    .clients h2 {
      padding: 0 124px 0 0; }
      .clients h2:after {
        width: 100px; }
  .text-border {
    font-size: 30px; }
  .order-services .btn {
    margin: 20px auto 50px; }
  .order-services h2:before {
    display: none; }
  .order-services-content {
    padding: 0; }
  .order-services .box-text {
    font-size: 18px;
    padding: 0; }
    .order-services .box-text p {
      margin: 0 0 10px; }
  footer {
    padding: 50px 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 880px) {
  header .logo {
    max-width: none;
    margin: 0 auto 10px; }
    header .logo img {
      max-width: 250px;
      width: 100%; }
  .header-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer-menu {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 10px 0 0; }
    .footer-menu li {
      width: 33.3%; }
  .footer-box {
    margin: 0 auto 0 0; }
  .copyright {
    font-size: 22px; } }

@media only screen and (max-width: 768px) {
  .btn {
    height: 35px;
    font-size: 10px; }
  h1 {
    text-align: center;
    font-size: 30px; }
  .title-text {
    max-width: none;
    text-align: center;
    margin: 20px auto 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px; }
  .services h2 {
    max-width: 530px;
    padding: 0 100px 0 0; }
    .services h2:after {
      width: 100px; }
  h2 {
    font-size: 30px; }
  .services {
    padding: 60px 0 35px; }
  .blog-box {
    width: 300px; }
  .blog-slider {
    padding: 0 0 0 20px; }
  .blog {
    padding: 50px 0; }
    .blog .line-wrapper {
      padding: 0 0 0 40px; }
  .slick-prev {
    margin: 0 15px 0 0; }
  .clients-box {
    width: 100px;
    height: 100px;
    padding: 20px; }
  .contacts h2 {
    font-size: 24px;
    padding: 15px; }
  .phone {
    font-size: 24px; }
  .address {
    font-size: 22px; }
  .contacts {
    padding: 50px 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  header .logo {
    max-width: 170px;
    margin: 0 auto 0 0; }
  header .btn {
    display: none; }
    header .btn:last-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .main-box {
    font-size: 14px; }
  h2 {
    font-size: 24px;
    margin: 0 0 30px; }
    h2 br {
      display: none; }
  .services h2 {
    padding: 0 70px 0 0; }
    .services h2:after {
      width: 70px;
      height: 44px; }
  .clients-col {
    width: 25%; }
  .text-border {
    font-size: 24px; }
  .clients h2 {
    padding: 0 60px 0 0; }
    .clients h2:after {
      width: 60px;
      height: 30px; }
    .clients h2 br {
      display: none; }
  footer {
    padding: 30px 0; }
  .footer-box {
    max-width: 170px; }
  .copyright {
    margin: 10px 0 0;
    font-size: 18px; }
  .footer-menu li {
    width: 50%; } }

@media only screen and (max-width: 480px) {
  .clients-col {
    width: 33.3%; }
  .order-services .box-text {
    font-size: 16px; }
  .address {
    font-size: 18px; }
  .phone-box {
    padding: 15px; }
  .phone {
    font-size: 22px; }
  .contacts h2 {
    font-size: 22px;
    margin: 0 auto 200px; }
  .footer-box {
    max-width: none;
    margin: 0 auto 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  footer .btn {
    margin: 0 auto; }
    footer .btn:last-child {
      margin: 0 auto; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  header .logo {
    max-width: 150px; }
  .btn {
    padding: 0 10px; }
  .blog-box {
    width: 260px; }
  .blog-box__img {
    height: 180px; }
  .clients-col {
    width: 50%; }
  .text-border {
    font-size: 22px; } }
