@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1560px)
  header .btn:last-child
    margin: 0 -100px 0 0

  .header
    .btn
      &:last-child
        margin: 0
/* Medium Devices, Desktops */
@media only screen and (max-width : 1300px)
  header .btn:last-child
    margin: 0 -50px 0 0

  .header
    .btn
      &:last-child
        margin: 0

  h1
    font-size: 60px

@media only screen and (max-width : 1200px)
  header
    .btn
      width: auto
      min-width: auto
      &:last-child
        margin: 0

  .header
    .btn
      &:last-child
        margin: 0

  .logo
    max-width: 250px

  .clients-box
    width: 180px
    height: 180px
    padding: 15px

  .order-services .box-text
    font-size: 22px

  .order-services h2:before
    width: 380px
    height: 240px

  footer .btn
    width: auto

  .stages-work__box:after
    right: -20px
    width: 100px
    top: 40px

  .stages-work__box:nth-child(2):after
    width: 90px
    right: -30px
    top: 8px

  .stages-work__box:nth-child(3):after
    width: 100px

  .stages-work__box
    font-size: 16px

  .work-instruction__box
    font-size: 16px

@media only screen and (max-width : 992px)
  h1
    font-size: 40px

  .title-text
    font-size: 24px

  .main-box
    margin: 50px 0 0
    font-size: 18px

  main
    padding: 70px 0

  h2
    font-size: 42px

  .services h2
    max-width: 630px

  .clients-box
    width: 150px
    height: 150px

  .clients
    padding: 50px 0 30px
    h2
      padding: 0 124px 0 0
      &:after
        width: 100px

  .text-border
    font-size: 30px

  .order-services .btn
    margin: 20px auto 50px
    
  .order-services h2:before
    display: none

  .order-services-content
    padding: 0

  .order-services .box-text
    font-size: 18px
    padding: 0
    p
      margin: 0 0 10px

  footer
    padding: 50px 0

  .stages-work__box-num
    font-size: 120px

  .stages-work__box
    margin: 30px 0 0
    max-width: 24%
    &:nth-child(even)
      margin: 30px 0 0
    &:after
      display: none

  .stages-work-wrapper
    padding: 0
    &:after, &:before
      display: none

  .stages-work
    padding: 40px 0

  .principles-box__content
    padding: 0
    font-size: 16px
    .box-text
      max-width: none
    h3
      font-size: 18px

  .principles
    padding: 40px 0 30px
    
  .work-instruction-wrapper
    &:after
      display: none

  .work-instruction
    padding: 50px 0 30px

  .work-instruction__box
    max-width: 25%

  .main-service h1
    br
      display: none

  .main-blog__content
    margin: 0 0 30px

  .main-blog h1
    font-size: 40px

  .date-article
    margin: 0 0 20px
    font-size: 16px

  .subtitle
    font-size: 20px

  .main-blog
    padding: 40px 0 50px

  .leader-company
    margin: 30px auto 0

/* Small Devices, Tablets */
@media only screen and (max-width : 880px)
  header
    .logo
      max-width: none
      margin: 0 auto 10px
      img
        max-width: 250px
        width: 100%

  .header-wrapper
    justify-content: center

  .footer-menu
    width: 100%
    order: 1
    column-count: 1
    display: flex
    flex-wrap: wrap
    margin: 10px 0 0
    li
      width: 33.3%

  .footer-box
    margin: 0 auto 0 0

  .copyright
    font-size: 22px

  textarea
    height: 150px
    padding: 20px



@media only screen and (max-width : 768px)
  .btn
    height: 35px
    font-size: 10px

  h1, .main-blog h1
    text-align: center
    font-size: 30px

  .title-text
    max-width: none
    text-align: center
    margin: 20px auto 0
    justify-content: center
    font-size: 20px

  .services h2
    max-width: 530px
    padding: 0 100px 0 0
    &:after
      width: 100px

  h2
    font-size: 30px

  .services
    padding: 60px 0 35px

  .blog-box
    width: 300px

  .blog-slider
    padding: 0 0 0 20px

  .blog
    padding: 50px 0
    .line-wrapper
      padding: 0 0 0 40px

  .slick-prev
    margin: 0 15px 0 0

  .clients-box
    width: 100px
    height: 100px
    padding: 20px

  .contacts h2
    font-size: 24px
    padding: 15px

  .phone
    font-size: 24px

  .address
    font-size: 22px

  .contacts
    padding: 50px 0

  .main-service .box-text
    font-size: 16px

  .price-service
    font-size: 30px
    margin: 30px 0 0

  .main-service
    padding: 30px 0 50px

  .stages-work__box
    font-size: 14px

  .stages-work__box-num
    font-size: 90px

  .work-instruction__box
    max-width: 33.3%

  .list-number
    font-size: 16px
    padding: 0

  .work-instruction-stages h4
    font-size: 20px
    margin: 0 0 20px

  .work-instruction-img
    margin: 30px auto 0
    &:before
      width: 280px
      height: 280px

  .dropdown-toggle
    height: 60px
    font-size: 18px
    &:after
      width: 30px
      height: 30px
      background-size: 20px

  .callback
    padding: 40px 0 0
    .text-border
      font-size: 24px
      margin: 0 0 30px

  .callback-form button[type="submit"]
    max-width: 200px

  .seo-section .box-text
    font-size: 16px

  .recommended .text-border
    font-size: 30px

  .description-company
    font-size: 16px
    margin: 0 0 30px

  .why-company__list li
    width: 50%
    padding: 0 10px 0 0
    p
      max-width: none
    &:nth-child(2), &:nth-child(3)
      p
        max-width: none

  .why-company .text-border
    font-size: 30px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 640px)
  .stages-work__box
    max-width: 49%

  .work-instruction__box
    max-width: 50%

@media only screen and (max-width : 575px)
  header
    .logo
      max-width: 170px
      margin: 0 auto 0 0
    .btn
      display: none
      &:last-child
        display: flex

  .main-box
    font-size: 14px

  h2
    font-size: 24px
    margin: 0 0 30px
    br
      display: none

  .services
    h2
      padding: 0 70px 0 0
      &:after
        width: 70px
        height: 44px

  .clients-col
    width: 25%

  .text-border
    font-size: 24px

  .clients
    h2
      padding: 0 60px 0 0
      &:after
        width: 60px
        height: 30px
      br
        display: none

  footer
    padding: 30px 0

  .footer-box
    max-width: 170px

  .copyright
    margin: 10px 0 0
    font-size: 18px

  .footer-menu
    li
      width: 50%

  .stages-work .text-border
    font-size: 24px

  .callback-form
    padding: 30px 20px

  .form-group label
    width: 100%

  .callback-form button[type="submit"]
    max-width: none
    margin: 20px auto 0

  .dropdown-toggle
    font-size: 16px

  .seo-section
    padding: 40px 0 0
    .box-text
      font-size: 14px

  .recommended .text-border
    font-size: 24px
    &:after
      display: none

  .main-blog
    .breadcrumb-nav
      margin: 0 0 30px

  .description-company
    font-size: 14px

  .why-company .text-border
    font-size: 24px

  .why-company__num
    font-size: 80px

  .why-company__list li
    width: 100%

  .main-about h1:after
    display: none

@media only screen and (max-width : 480px)
  .clients-col
    width: 33.3%

  .order-services .box-text
    font-size: 16px

  .address
    font-size: 18px

  .phone-box
    padding: 15px

  .phone
    font-size: 22px

  .contacts h2
    font-size: 22px
    margin: 0 auto 200px

  .footer-box
    max-width: none
    margin: 0 auto 20px
    align-items: center

  footer
    .btn
      margin: 0 auto
      &:last-child
        margin: 0 auto

  .price-service
    font-size: 24px

/* Custom, iPhone Retina */
@media only screen and (max-width : 420px)
  header
    .logo
      max-width: 150px

  .btn
    padding: 0 10px

  .blog-box
    width: 260px

  .blog-box__img
    height: 180px

  .clients-col
    width: 50%

  .text-border
    font-size: 22px

  .stages-work__box
    font-size: 12px

  .stages-work .text-border
    font-size: 20px

  .work-instruction__box
    max-width: none
    margin: 0 0 20px